body {
  width: 100%;
}

/* Set up of grid template for page. Class is page. */

.wrapper {
  display: grid;
  grid-template-areas:
    "head"
    "body"
    "footer"
    "ender";
  grid-template-rows: 40px auto 40px 40px;
  grid-auto-flow: row;
  gap: 1em;
}
/* Styling for Logo. */

.searcharea {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: arial, sans-serif;
  font-size: small;
  color: #222;
  display: block;
  height: 92px;
  width: 272px;
  justify-items: center;
  align-items: center;
}
/* Styling for nav bar. */
a.link.nav {
  font-size: 13px;
  font-family: arial, sans-serif;
  text-decoration: none;
  display: inline-block;
  padding-left: 15px;
  color: #000;
  opacity: 0.75;
}

a.link.nav.googleapps {
  font-size: 13px;
  white-space: nowrap;
  line-height: normal;
  text-align: left;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-size: 528px 68px;
  background-position: -132px -38px;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.55;
}

.end {
  justify-content: flex-end;
}

.start {
  justify-content: flex-start;
}
/* Styling for Ender Links */

.enderlinks {
  visibility: visible;
  line-height: 40px;
  font-size: 13px;
  font-family: arial, sans-serif;
  padding-left: 27px;
  margin: 0 !important;
  text-decoration: none;
  white-space: nowrap;
  color: #5f6368;
  display: inline-block;
}

#canada {
  font-family: arial, sans-serif;
  visibility: visible;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  font-size: 15px;
}

.footer {
  font-family: arial, sans-serif;
  visibility: visible;
  line-height: 40px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 27px;
  margin-left: 30px;
  text-align: left;
}
/* Header Grid Control */

header {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
